*.cm*
*.byte
*.opt
*.exe
*/camlp5.*
tests*/_build
*/*.o
*/*.a
local-install
*/.depend.NEW
META
*/camlp5*.pa_*
camlp5*.pa_*
*/*.odoc
docs
.tramp_history
*/.tramp_history
*/*/.tramp_history
.merlin
*/.merlin
*/*/.merlin
nohup.out
META.NEW
META.OLD
*ppo
*ppo.ml
mk_meta
mk_meta.ml
__pycache__
